<html ng-app="my">
<head>
   
  
					<link rel="stylesheet" href="css/bootstrap.min.css">
					<link rel="stylesheet" href="css/bootstrap-theme.min.css">
					 <style type="text/css">
					 .inpiut.ng-invlid{
					 	border: 1px,
					 	solid:RED;
					 }
					 </style>
						<script type="text/javascript" src="js/angular.min.js" >
					   </script>
					    <script src="js/angular-ui-router.min.js"></script>
                       
					   <script type="text/javascript" src="js/controller.js" >
					   </script>
					    <script type="text/javascript" src="name.json" >
					  </script>
					 <script type="text/javascript" src="js/app.js" >
					 </script>
					 <script type="text/javascript" src="js/factroy.js" >
					 </script>
				  
	</head>
<body data-ng-controller="bodController">

   <div class="container"> 
	   		<div class="row">
		   				
							    	<ul class="nav nav-tabs">
							             <li role="presentation" class="active"><a href="#">{{label.tab}}</a></li>

							        </ul>
							
			</div>
	        <div class="jumbotron">
					<form  name="roleForm" role="form" ng-submit="roleForm.$valid" novalidate>
						<div class="row">
							<div class="form-group has-success  col-xs-4">
							    <label class="control-label" >{{label.L1}}</label>
							    <input type="number" class="form-control ng-invlid" id="inputSuccess4" placeholder="Role Id:" ng-model="roleid"  required />
						
							  </div>
					     </div> 	
							     <div class="row">
							     
										      <div class="form-group has-success col-xs-6">	  
				
												    <label class="control-label">{{label.L2}}</label>
												    <input type="text" class="form-control"  placeholder="shortDescription"  ng-model="shortDescription" required />
									           </div>
									           <div class="form-group has-success col-xs-6">
									           <label class="control-label">{{label.L3}}</label>
												    <input type="text" class="form-control" name="description" required placeholder="description" ng-model="description" required/>	
									           	</div>
					              </div>
					            <div class="row">
							     
										      <div class="form-group has-success col-xs-6">	  
				
												    <label class="control-label">{{label.L4}}</label>
												    <input type="date" class="form-control" name="Activation Date" ng-model="Activation" required>
									           </div>
									           <div class="form-group has-success col-xs-6">
									           <label class="control-label">{{label.L5}}</label>
												    <input type="date" class="form-control" name="Deactivation Date"/ ng-model="Deactivation" required>	
									           	</div>
					              </div>
             
					               
			</form>	
			</div>

	</div>

 <div class="container"> 
 <div class="jumbotron">
 	      					 <div class="row">
							     
										      <div class="form-group has-success col-xs-6">	  
				
												    <label class="control-label">{{label.L6}}</label>
												    <input type="text" class="form-control" ng-model="sharedmessage" >
									           </div>
									           <div class="form-group has-success col-xs-6">
									           <label class="control-label">{{label.L7}}</label>
												    <input type="text" class="form-control" />	
									           	</div>
					              </div>
					               <div class="row">
							     
										      <div class="form-group has-success col-xs-6">	  
				
												    <label class="control-label">{{label.L8}}</label>
												    <input type="text" class="form-control disabled" >
									           </div>
									           <div class="form-group has-success col-xs-6">
									           <label class="control-label">{{label.L9}}</label>
												    <input type="text" class="form-control" />	
									           	</div>
					              </div>
  </div>

</div> {{user }}

                         <div class="row">
					                <center>
					                  	
					            <button type="submit"   ng-click="sub()">Save</button>
					                  	<button type="button" ng-click="publishClick(sharedmessage)" >Save and continue</button>
					                  
					                 
					                  	<button type="submit"  ng-click="reset()">Clear</button>
					               </center> 
					            	</div>

	</body>

</html>